@{
    ViewData["Title"] = "About";
}

<h1 class="display-6 text-danger">About Page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde consequatur, consectetur quo tenetur veritatis deserunt ipsa alias aspernatur quibusdam, eius beatae illo ea quam culpa?</p>
